rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /alunos/{alunoId} {
      allow read, create, update, delete: if true;
    }
    match /cursos/{cursoId} {
      allow read, create, update, delete: if true;
    }
  }
}
