rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // ATENÇÃO: regras abertas apenas para teste/desenvolvimento.
    // Como o sistema está sem login, qualquer pessoa com o link pode ler, editar e excluir.
    match /alunos/{alunoId} {
      allow read, create, update, delete: if true;
    }

    match /cursos/{cursoId} {
      allow read, create, update, delete: if true;
    }
  }
}
